.form-row {
    margin-bottom: 8px;
    overflow-x: hidden;
}

.form-row intup {
    float: right
    height: 19px;
    line-height: 19px;
    padding: 0px 5px;
    width: 300px;
    border: 1px solide #ABADB3;
}

.reg-form {
    width: 416px;
    margin: 0px auto;
}
h1 {
    text-align: center;
}
h1{
    text-align: center;
}

.form-row intup[type=submit]{
    padding: 5px;
    height: 25px;
    width: 100%;
    line-height: 10px;
    background: #337AB7;
    color: white;
}
